body{
  margin: 0;
  background-color: black;
}
.btn{
  height: 150px;
  width: 150px;
  border: 0px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 80px;
}
.box{
  display: flex;
  flex-direction: row;
  width: 450px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
}
.heading{
  color: white;
  display: inline-block;
  margin-left: 40%;
  margin-top: 5%;
}
.reset{
  width: 100px;
  color: white;
  background-color: red;
  border-radius: 10px;
  height: 30px;
  margin-left: 35%;
  margin-top: 10px;
}